@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-bg-color: #6f084c;
    --secondary-bg-color: #820b5a66;
    --secondary-color: 320deg 84% 28%;
    /* #C06E83 */
    /* B5170C */
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.righteous {
  font-family: righteous;
}

.slackey {
  font-family: slackey;
}

.bg-space-repeat {
  background-repeat: space repeat;
}

.gar {
  grid-auto-rows: 1fr;
}

.text-stroke-6 {
  -webkit-text-stroke: 4px #b5170c;
}

.text-stroke-3 {
  -webkit-text-stroke: 2px #7f0202;
}
