---
import Community from "../components/Community.astro";
import { Image } from "astro:assets";

import Footer from "../components/IndexFooter.astro";
import playStore from "../assets/play-store.png";
import appStore from "../assets/app-store.png";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Huntgame" content="Huntgame">
  <main class="text-white overflow-hidden">
    <Hero />
    <Community />
    <section
      class="bg-primaryBg pb-16 lg:pb-40 px-7 sm:px-16 md:px-20 lg:px-20 xl:px-20"
    >
      <h3
        class="font-extrabold text-center pt-14 pb-[22px] lg:pt-[72px] lg:pb-12 lg:text-xl"
      >
        FEATURED PRODUCTS
      </h3>
      <div
        class="xl:flex flex-col gap-48 xl:gap-20 xl:flex-row justify-between items-center hidden"
      >
        <div
          class="relative flex-1 flex flex-col-reverse items-center max-w-80 xl:max-w-none xl:items-stretch"
        >
          <div
            class="rounded-full w-full xl:w-[275px] h-[275px] border-[10px] aspect-square border-[#B5170C] xl:absolute z-10 top-36 xl:-top-[12%]"
          >
            <img
              alt="happy couples"
              src="match_making.png"
              class="w-full h-full rounded-full block"
            />
          </div>
          <div
            class="bg-[#D9D9D9] h-[216px] pl-44 flex justify-center flex-col rounded-lg w-[85%] pr-8 relative left-32"
          >
            <h5 class="text-primaryBg font-extrabold text-lg xl:text-2xl">
              Premium match making
            </h5>
            <p class="text-black xl:text-xl">
              Get matched with people of similar qualities and thoughts.
            </p>
          </div>
        </div>
        <div class="relative flex-1 flex flex-col-reverse">
          <div
            class="rounded-full w-[275px] h-[275px] border-[10px] border-[#B5170C] xl:absolute z-10 -top-[12%]"
          >
            <img
              alt="happy couples"
              src="all-hands.png"
              class="w-full h-full rounded-full block"
            />
          </div>
          <div
            class="bg-[#D9D9D9] h-[216px] pl-44 flex justify-center flex-col rounded-lg w-[85%] pr-8 relative left-32"
          >
            <h5 class="text-primaryBg font-extrabold text-lg xl:text-2xl">
              A community of like minds
            </h5>
            <p class="text-black xl:text-xl">
              Join a premium community of users seeking love and companionship.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col gap-48 mb-24 xl:flex-row xl:gap-44 justify-between items-center xl:hidden"
      >
        <div
          class="relative flex-1 flex flex-col-reverse items-center max-w-80"
        >
          <div
            class="rounded-full w-full overflow-hidden border-[10px] border-[#B5170C] z-10 aspect-square absolute top-36"
          >
            <img
              alt="happy couples"
              src="match-making.png"
              class="w-full h-full rounded-full block"
            />
          </div>
          <div
            class="bg-[#D9D9D9] flex gap-4 px-5 pt-4 flex-col rounded-2xl w-11/12 h-80"
          >
            <h5 class="text-primaryBg font-extrabold text-lg xl:text-2xl">
              A community of like minds
            </h5>
            <p class="text-black xl:text-xl">
              Join a premium community of users seeking love and companionship.
            </p>
          </div>
        </div>
        <div
          class="relative flex-1 flex flex-col-reverse items-center max-w-80"
        >
          <div
            class="rounded-full w-full overflow-hidden border-[10px] border-[#B5170C] z-10 aspect-square absolute top-36"
          >
            <img
              alt="happy couples"
              src="all-hands.png"
              class="w-full h-full rounded-full block"
            />
          </div>
          <div
            class="bg-[#D9D9D9] flex gap-4 px-5 pt-4 flex-col rounded-2xl w-11/12 h-80"
          >
            <h5 class="text-primaryBg font-extrabold text-lg xl:text-2xl">
              Premium match making
            </h5>
            <p class="text-black xl:text-xl">
              Get matched with people of similar qualities and thoughts.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="relative w-full bg-primaryBg pb-7 lg:pb-40 px-7 sm:px-16 lg:px-20 xl:px-20 pt-12"
    >
      <div
        class="bg-white/5 max-w-[600px] mx-auto lg:max-w-none relative px-14 after:absolute after:z-0 after:w-full after:bg-[#D6792C] after:content-[''] after:h-[45%] after:rounded-b-full after:top-0 after:right-0 lg:after:w-[45%] lg:after:h-full lg:after:rounded-l-full lg:after:rounded-br-none"
      >
        <h3
          class="pb-14 pt-6 lg:py-20 font-semibold text-lg lg:text-3xl lg:mx-8 z-20 relative text-center lg:text-left"
        >
          Why choose huntgame?
        </h3>
        <span
          class="flex flex-col lg:flex-row text-primaryBg gap-5 lg:gap-7 lg:mx-8 font-extrabold pb-3 lg:pb-44 z-20"
        >
          <span
            class="bg-white rounded-full text-center w-full aspect-square z-20 flex justify-between flex-col lg:justify-start"
          >
            <h5
              class="sm:text-xl md:text-[1.75rem] pt-12 md:pt-16 px-5 xl:px-14"
            >
              1. Tailored Matches
            </h5>
            <p
              class="text-sm mt-2 sm:text-lg md:text-2xl md:mt-6 rounded-full text-center px-4 md:px-7 md:pt-7 pb-16"
            >
              Our advanced matching algorithm ensures that you are paired with
              people who share your interests, values, and goals, making it
              easier to build lasting connections.
            </p>
            <div class="h-1/5 lg:hidden"></div>
          </span>
          <span
            class="bg-white rounded-full text-center w-full aspect-square z-20 flex justify-between flex-col lg:justify-start"
          >
            <h5
              class="sm:text-xl md:text-[1.75rem] pt-12 md:pt-16 px-5 xl:px-14"
            >
              2. Relationship Focused
            </h5>
            <p
              class="text-sm mt-2 sm:text-lg md:text-2xl md:mt-6 rounded-full text-center px-4 md:px-7 md:pt-7 pb-16"
            >
              We prioritize real connections. Our user verification process
              ensures that the people you meet are who they say they are, so you
              can feel safe while engaging with others.
            </p>
            <div class="h-1/5 lg:hidden"></div>
          </span>
          <span
            class="bg-white rounded-full text-center w-full aspect-square z-20 flex justify-between flex-col lg:justify-start"
          >
            <h5
              class="sm:text-xl md:text-[1.75rem] pt-12 md:pt-16 px-5 xl:px-14"
            >
              3. Security & Privacy
            </h5>
            <p
              class="text-sm mt-2 sm:text-lg md:text-2xl md:mt-6 rounded-full text-center px-4 md:px-7 md:pt-7 pb-16"
            >
              Your security is our top priority. Huntgame uses the latest
              encryption and privacy measures to ensure that your personal
              information stays safe.
            </p><div class="h-1/5 lg:hidden"></div>
          </span>
        </span>
      </div>
    </section>
    <div class="flex flex-col-reverse lg:flex-col">
      <Testimonials />
      <section
        class="bg-primaryBg pb-16 lg:pb-40 px-7 sm:px-16 md:px-32 lg:px-40 xl:px-40"
      >
        <div
          class="bg-white/95 rounded-[20px] py-14 px-10 lg:py-24 lg:px-16 flex flex-col gap-7 md:flex-row w-full"
        >
          <div
            class="bg-white flex-1 py-12 px-8 text-center rounded-[20px] lg:px-16 lg:flex lg:flex-col lg:justify-center xl:px-24 min-w-0 lg:pb-[101px] lg:pt-[90px]"
          >
            <h5 class="text-xl font-extrabold text-primaryBg mb-2 lg:text-4xl">
              JOIN HUNTGAME
            </h5>
            <p class="text-black mb-14 lg:text-2xl">
              Join a premium community of users seeking love and companionship.
            </p>
            <button
              class="w-full rounded-[50px] text-white bg-primaryBg h-14 lg:h-20 relative"
              id="getStarted">Get started</button
            >
          </div>
          <img
            alt="hunt game app on phone"
            src="/phonemobile.png"
            class="mx-auto flex-1 lg:hidden w-full h-auto min-w-0 grow rounded-[20px] scale-125"
          />
          <img
            alt="hunt game app on phone"
            src="/huntgame-app-desk.png"
            class="mx-auto flex-1 hidden lg:block w-full h-auto min-w-0 grow rounded-[20px]"
          />
          <div
            class="relative z-10 hidden"
            aria-labelledby="modal-title"
            role="dialog"
            aria-modal="true"
            id="appDialog"
          >
            <div
              class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
              aria-hidden="true"
            >
            </div>
            <div class="fixed inset-0 z-50 w-screen overflow-y-auto">
              <div
                class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0"
              >
                <div
                  class="relative transform flex gap-1 w-[80%] flex-col justify-center items-center pt-10 pb-8 overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
                >
                  <p class="text-primaryBg text-2xl font-extrabold">
                    JOIN HUNTGAME
                  </p>
                  <p class="text-black">Download the huntgame app today.</p>
                  <div class="flex gap-4 mx-6 mt-5 lg:mx-9">
                    <a href="">
                      <Image
                        src={playStore}
                        alt="link to our app on play store"
                        class="hover:border-2 border-primaryBg rounded"
                      />
                    </a>
                    <a
                      href="https://apps.apple.com/ng/app/huntgame/id6502562121"
                      target="_blank"
                    >
                      <Image
                        src={appStore}
                        alt="link to our app on app store"
                        class="hover:border-2 border-primaryBg rounded"
                      />
                    </a>
                  </div>
                  <button
                    class="top-1 right-4 text-black absolute text-2xl"
                    id="closeDialog">X</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <Footer />
</Layout>
<script>
  const closeDialog = document.getElementById("closeDialog");
  const appDialog = document.getElementById("appDialog");
  const getStarted = document.getElementById("getStarted");

  closeDialog?.addEventListener("click", () =>
    appDialog?.classList.add("hidden")
  );
  getStarted?.addEventListener("click", () =>
    appDialog?.classList.remove("hidden")
  );
</script>
