---
import { Image } from "astro:assets";

interface Props {
  cardImage: ImageMetadata;
  content: string;
}
const { cardImage, content } = Astro.props;
---

<div class="bg-white rounded-[10px] lg:w-full w-max">
  <Image
    alt="happy couples"
    src={cardImage}
    class="rounded-t-[10px] w-56 lg:w-full lg:h-auto"
  />
  <div class="px-5 py-6 w-56 lg:w-full lg:h-36">
    <p class="text-black">
      {content}
    </p>
  </div>
</div>
